@import '~bootstrap/scss/bootstrap';
$success-text-color: #008000;
$failure-text-color: #f00;
$element-background: #7077a4;
$hover-color: #b5c1e6;
$light-color: #d6d7dd;
$dark-color: #4f4f4f;

body {
  background-color: $dark-color;
}

.btn-default {
  background-color: $element-background;
  border: 0;
  border-radius: 8px;
  color: $light-color;
  display: inline-block;
  justify-content: center;
  max-width: 200px;
  transition-duration: .3s;

  &:hover {
    background-color: $hover-color;
    color: $dark-color;
  }
}

.btn-block {
  margin-left: 30px;
}

.container {
  margin-top: 30px;
}

.edit-session {
  padding: 5px;
}

.failure-message {
  background-color: $light-color;
  border: 0;
  border-radius: 8px;
  color: $failure-text-color;
  font-weight: bold;
  padding: 5px 10px;
}

h1 {
  background-color: $dark-color;
  color: $light-color;
  padding: 60px 30px;
  text-align: left;
}

label {
  color: $light-color;
}

legend {
  color: $light-color;
}

.long-input {
  margin-bottom: 10px;
  width: 60%;
}

main {
  section {
    background: $element-background;
    border: 0;
    border-radius: 4px;
    color: $light-color;
    margin: 10px;
    outline: none;
    padding: 5px;

    p {
      margin-bottom: 0;
    }

  }
}

.new-session {
  padding: 5px;
}

.short-input {
  margin-bottom: 10px;
  width: 30%;
}

.success-message {
  background-color: $light-color;
  border: 0;
  border-radius: 8px;
  color: $success-text-color;
  font-weight: bold;
  padding: 5px 10px;
}

ul {
  background-color: $element-background;
  display: inline-flex;
  font-size: 24px;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  text-decoration: none;
  top: 0;
  width: 100%;
}
